:root {
    --ci_1: #00bbdc;
    --ci_2: #00eeff;
  }
  
  .tu1 {
    width: 260px;
    height: 500px;
    object-fit: cover;
  }
  
  * {
    font-family: "Noto Sans", "Arial", sunserif;
  }
  
  body {
    font-size: 14px;
    margin: 0;
  }
  
  #app_wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
  }
  
  #playlist_ol {
    padding: 0;
    counter-reset: list-number;
  }
  
  #logo {
    padding: 5px 0 5px 0;
  }
  
  .list_item {
    width: 200px;
    height: 400px;
    background: #ccc;
    border: #999 1px solid;
    border-radius: 8px;  
    opacity: 1;
    padding: 5px 5px;
    margin: 5px 5px;
    display: inline-block;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  .list_item:hover {
    overflow-y: hidden;
  }
  
  .list_item::before {
    display: inline-block;
    width: 30px;
    text-align: center;
    counter-increment: list-number;
    content: counter(list-number);
    font-size: 16pt;
    font-weight: 600;
    vertical-align: top;
    margin-top: 5px;
    color: #777;
  }
  
  .single-line {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
  }
  
  #file_name {
    width: 310px;
    height: 26px;
    background: #fafafa;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  .p_name {
    display: inline-block;
    color: #888;
  }
  
  .p_title {
    width: 150px;
    display: inline-block;
    margin-bottom: 8px;
    overflow: hidden;
  }
  
  .f_id {
    display: none;
  }
  
  .p_icon {
    width: 200px;
    height: 200px;
    background-color: #ddd;
    border-radius: 4px;
  }
  
  .p_info {
    display: inline-block;
    width: 190px;
    padding: 10px 5px;
  }
  
  .p_time {
    display: inline-block;
    vertical-align: middle;
    font-size: 14pt;
    color: #777;
  }
  
  .p_rep {
    width: 55px;
    height: 25px;
    background: #fafafa;
    border-radius: 4px;
    font-size: 14pt;
    font-weight: 500;
    background-color: #ddd;
    float: right;
    text-align: center;
  }
  
  #loops {
    width: 55px;
    border-radius: 4px;
    font-weight: 500;
    margin-right: 5px;
    text-align: center;
  }
  
  #printer_model {
    width: 100px;
    border-radius: 2px;
    font-weight: 1000;
    margin-right: 20px;
    text-align: center;
  }
  
  .p_filaments {
    margin-top: 5px;
    width: 200px;
  }
  
  .loops {
    width: 50px;
    height: 20px;
    background: #fafafa;
    border-radius: 4px;
  }
  
  #list_item_prototype {
    display: none;
  }
  
  ::placeholder {
    color: #888;
  }
  
  #playlist_ol li.hint {
    margin: 10px 0;
  }
  
  #playlist_ol li.targeted {
    background: #c3e1ed;
    opacity: 0.3;
  }
  
  #playlist_ol li.active {
    background: #f5f5f5;
    border-right: 5px solid var(--ci_1);
    margin: 5px 0 -5px 0;
  }
  
  #playlist_ol li.active .file-input,
  #playlist_ol li.active ._p_rep,
  .p_time,
  li.active .p_info,
  .p_icon {
    pointer-events: none;
  }
  
  #total_size_label {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    padding: 10px 10px;
    position: relative;
    top: -30px;
    min-width: 100px;
    color: #aaa;
  }
  
  #progress_bar {
    background-color: #eee;
    display: block;
    height: 5px;
    width: 100px;
    border: 1px solid #ccc;
  }
  
  #progress_scale {
    height: 100%;
    background-color: var(--ci_1);
    width: 50%;
    animation-iteration-count: infinite;
    animation: move 2s ease infinite;
    background: linear-gradient(
      90deg,
      var(--ci_1),
      var(--ci_1),
      var(--ci_2),
      var(--ci_1),
      var(--ci_1)
    );
    background-size: 300% 100%;
  }
  
  .f_color {
    height: 20px;
    width: 20px;
    border-radius: 11px;
    border: solid 1px #888;
    display: inline-block;
  }
  
  .p_filament {
    display: inline-block;
    font-size: 6pt;
    text-align: center;
    width: 40px;
  }
  
  .p_filament_prototype {
    display: none;
  }
  
  @keyframes move {
    0% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .inactive {
    color: #aaa;
    opacity: 0.5;
  }
  
  #file_name,
  #file_name ~ span {
    font-family: "Courier New", Courier, monospace;
  }
  
  #file_name ~ span {
    color: #777;
  }
  
  details summary {
    cursor: pointer;
  }
  
  .tool_info,
  details.tool_info summary {
    display: inline;
  }
  
  .tool_info[open] {
    padding: 8px;
    background-color: #eee;
  }
  
  details[open].tool_info {
    display: block;
    margin: 5px auto;
  }
  
  details[open].tool_info summary::before {
    content: "X";
    background-color: #edf07a;
    width: 30px;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
  }
  
  details.tool_info summary::before {
    content: "( ? )";
  }
  
  .tool_info > summary {
    color: #777;
  }
  
  #debug_outline:checked ~ * * {
    border: #00bbdc 1px solid;
  }
  
  #debug_outline:checked ~ * *:hover {
    border: #f00 1px dotted;
  }
  
  #app_header {
    width: 850px;
    overflow: auto;
    border-bottom: #555 0px solid;
  }
  
  #app_header > div {
    display: block;
    vertical-align: middle;
    overflow: auto;
  }
  
  #app_header > *:nth-child(1) {
    float: left;
  }
  
  #app_header > *:nth-child(2) {
    width: 170px;
    text-align: left;
    float: right;
  }
  
  #queue_statistics > * > *:nth-child(1) {
  }
  
  #total_time {
    font-size: 13pt;
    font-weight: 100;
  }
  
  #used_plates {
    font-size: 13pt;
    font-weight: 100;
  }
  
  #statistics > div {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #queue_statistics {
  }
  
  #filament_total > div {
    margin-right: 20px;
    display: inline-block;
  }
  
  #statistics h3 {
    margin: 0 0 5px 0;
  }
  
  #statistics > div {
    display: inline-block;
    vertical-align: text-top;
  }
  
  #export:hover {
    background-color: #00aaff;
  }
  
  #show_set_cont {
    margin-top: 20px;
  }
  
  #reset:hover {
    background-color: #ffc400;
  }
  
  #drop_zones_wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
  }
  
  #drop_zone,
  #drop_zone_instant {
    border: 3px solid #589297;
    border-radius: 7px;
    border-style: dotted;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  
  #drop_zone {
    background-color: #d0fbff;
    width: 100%;
    margin-right: 20px;
  }
  
  #drop_zone_instant {
    background-color: #fff4e6;
    width: 50%;
  }
  
  #drop_zone:hover,
  #drop_zone_instant:hover {
    background-color: #fefaf4;
  }
  
  .mini_drop_zone #drop_zone_instant,
  .mini_drop_zone #spacer_cell {
    display: none;
  }
  #drop_zones_wrapper.mini_drop_zone {
    height: 10px;
  }
  #drop_zones_wrapper.mini_drop_zone p {
    font-size: 16pt;
  }
  #drop_zones_wrapper.mini_drop_zone div {
    padding: 5px;
  }
  
  #drop_zones_wrapper.focused {
    height: 10px;
  }
  
  #drop_zones_wrapper.mini_drop_zone.focused {
    height: 10px;
  }
  
  #drop_zone,
  #drop_zone_instant {
    vertical-align: middle;
  }
  
  #drop_zone > p,
  #drop_zone > i {
    text-align: center;
    color: #9db0cc;
  }
  
  #drop_zone > p {
    font-weight: 800;
    font-size: 22pt;
    margin: 0;
  }
  
  #drop_zone > i {
    display: block;
    font-size: 16pt;
  }
  
  #drop_zone_instant > p {
    text-align: center;
    font-weight: 300;
    color: #9db0cc;
    font-size: 20pt;
  }
  
  #drop_zone_instant i {
    font-weight: 800;
  }
  
  #app_content {
    padding-top: 20px;
    display: table;
    width: 100%;
  }
  
  #settings_wrapper {
    min-width: 100px;
    width: 300px;
    padding: 0 20px;
    vertical-align: top;
    display: table-cell;
  }
  
  #settings_wrapper > div {
    border-left: #555 1px solid;
    padding-left: 20px;
    height: 100px;
  }
  
  #plates_wrapper {
    display: table-cell;
  }
  
  #settings_wrapper {
    display: table-cell;
  }
  
  #spacer_cell {
    display: table-cell;
    min-width: 20px;
  }
  #version {
    color: #bbb;
    text-align: right;
    size: 10px;
  }
  
  .hidden {
    display: none;
  }
  